.home-container {
  /* background: var(--color-bg); */
  color: var(--color-white);
  line-height: 1.7;
  background: #1a132f;
  height: 100%;
  margin: 0;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
